<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
</head>
<body class="bg-tertiary">
    <form method="POST">
      <nav class="navbar navbar-expand-lg bg-primary-subtle">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Home</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav navbar-right me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container">
        <div class="row mt-4">
          <div class="col-3"></div>
          <div class="alert alert-info col-6" role="alert">
            <h5>Welcome Mr. Juan T. Dela Cruz!</h5>
            Your schedule is available. Please see the table below.
          </div>
          <div class="col-3"></div>
        </div>
        <div class="bg-primary-subtle mt-4 p-4">
          <div class="container">
            <h3 class="text-center">Class Schedule</h3>
          </div>
          <table class="table table-hover mt-4">
            <thead>
              <tr class="text-center">
                <th scope="col">Time</th>
                <th scope="col">Monday</th>
                <th scope="col">Tuesday</th>
                <th scope="col">Wednesday</th>
                <th scope="col">Thursday</th>
                <th scope="col">Friday</th>
                <th scope="col">Saturday</th>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <th scope="row">7:30 AM - 9:00 AM</th>
                <td>Vacant Time</td>
                <td>Vacant Time</td>
                <td>OACC1<br/>I-AOMT</td>
                <td>Vacant Time<br/></td>
                <td>OACC1<br/>I-AOMT</td>
                <td>Vacant Time<br/></td>
              </tr>
              <tr>
                <th scope="row">9:00 AM - 10:30 AM</th>
                <td>Honorarium Time</td>
                <td>Honorarium Time</td>
                <td>Vacant Time</td>
                <td>OACC1<br/>I-AOMT</td>
                <td>OACC1<br/>I-AOMT</td>
                <td>OACC1<br/>I-AOMT</td>
              </tr><tr>
                <th scope="row">10:30 AM - 12:00 PM</th>
                <td>OACC1<br/>I-AOMT</td>
                <td>OACC1<br/>I-AOMT</td>
                <td>OACC1<br/>I-AOMT</td>
                <td>OACC1<br/>I-AOMT</td>
                <td>OACC1<br/>I-AOMT</td>
                <td>OACC1<br/>I-AOMT</td>
              </tr><tr>
                <th scope="row">12:00 PM - 1:30 PM</th>
                <td>OACC1<br/>I-AOMT</td>
                <td>OACC1<br/>I-AOMT</td>
                <td>Honorarium Time</td>
                <td>OACC1<br/>I-AOMT</td>
                <td>Honorarium Time</td>
                <td>Honorarium Time</td>
              </tr><tr>
                <th scope="row">1:30 PM - 3:00 PM</th>
                <td>OACC1<br/>I-AOMT</td>
                <td>OACC1<br/>I-AOMT</td>
                <td>OACC1<br/>I-AOMT</td>
                <td>OACC1<br/>I-AOMT</td>
                <td>OACC1<br/>I-AOMT</td>
                <td>OACC1<br/>I-AOMT</td>
              </tr><tr>
                <th scope="row">3:00 PM - 4:30 PM</th>
                <td>OACC1<br/>I-AOMT</td>
                <td>OACC1<br/>I-AOMT</td>
                <td>OACC1<br/>I-AOMT</td>
                <td>Honorarium Time</td>
                <td>Vacant Time</td>
                <td>OACC1<br/>I-AOMT</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>
</body>
</html>